body {
  background: #f7f7f7;
  font-family: "Gill Sans", sans-serif;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.perfil{
  border-radius: 50%;
  margin-top: 40px;
}

#title, .subtitle, .post_title {
  color: #505050;
}

#title {
  font-size: 30px;
  text-transform: uppercase;
}

.post_title {
  margin-top: -15px;
  font-size: 16px;
  font-style: italic;
}

p{
  margin-top: 30px;
}
