body {
  background: #f7f7f7;
  font-family: "Gill Sans", sans-serif;
  max-width: 700px;
  margin: auto;
  align-items: center;
}

.perfil{
  border-radius: 50%;
  margin-top: 15px;
}

#title, .subtitle, .post_title {
  color: #505050;
}

a {
  text-decoration: underline;
  color: #505050;
}


#title {
  font-size: 40px;
  text-transform: uppercase;
}

.post_title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.post {
  background: #fff
  padding: 15;
  border: 3px solid #505050;
  border-radius: 5px;
  margin-bottom: 15px;
}

.post_content {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.post_image {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 95%;
}

.contact_list {
  list-style-type: none;
  padding-left: 20px;
}

.contact_list li a {
  text-decoration: none;
}
